<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="AttApiPlatformDemo" Publisher="CN=AT&amp;T" Version="1.0.0.1" />
  <Properties>
    <DisplayName>AT&amp;T API Platform Demo</DisplayName>
    <PublisherDisplayName>AT&amp;T</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <!--Resource Language="x-generate"/-->
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ATT.SampleApp.App">
      <VisualElements DisplayName="AT&amp;T API Platform Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="AT&amp;T API Platform Demo" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="qqq">
            <DisplayName>qqq</DisplayName>
            <EditFlags OpenIsSafe="true" AlwaysUnsafe="true" />
            <SupportedFileTypes>
              <FileType>.qqq</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>